@utility heading {
  color: var(--color-primary-lighter);
  margin-bottom: --spacing(1);
  font-family: var(--font-mono);
  font-weight: var(--font-weight-bold);

  &:where(h1) {
    color: var(--color-primary);
    font-size: var(--text-4xl);

    @variant lg {
      font-size: var(--text-5xl);
    }
  }

  &:where(h2) {
    font-size: var(--text-3xl);

    @variant lg {
      font-size: var(--text-4xl);
    }
  }

  &:where(h3) {
    font-size: var(--text-2xl);

    @variant lg {
      font-size: var(--text-3xl);
    }
  }

  &:where(h4, h5, h6) {
    font-size: var(--text-xl);

    @variant lg {
      font-size: var(--text-2xl);
    }
  }

  @variant last {
    margin-bottom: --spacing(0);
  }

  @variant lg {
    margin-bottom: --spacing(2);
  }
}
