@utility list {
  list-style-type: "> ";
  list-style-position: inside;
  margin-block: --spacing(2);
  padding-left: --spacing(2);

  @variant marker {
    color: var(--color-accent);
    font-family: var(--font-mono);
    font-weight: var(--font-weight-bold);

    @variant dark {
      color: var(--color-accent-lighter);
    }
  }
}
