---
import Layout from '../layouts/Base.astro'
---

<Layout>
  <h1 class="font-mono text-8xl">
    <span class="text-accent-lighter dark:text-accent">#</span>Hello,<br>
    world!<span class="text-primary-highlight dark:text-tertiary motion-safe:animate-blink">_</span>
  </h1>
</Layout>
