---
type Props = {
  description?: string;
};

const { description } = Astro.props;
---

<div class="text-foreground-highlight dark:text-subtle-highlight font-bold not-last:mb-2 before:font-mono before:content-[';;_']">
  {description}
</div>
